<h1>Add a new show </h1>

<ul class="small-block-grid-3">
  <!-- <% @upcoming.each do |concert| %>
    <h3><%= concert.venue %></h3>
    <li><%= concert.state %> , <%= concert.venue %></li>
    <li><%= link_to concert.venue, concert_path(concert) %></li> -->
  <!-- <% end %> -->

  <h2>Random Show</h1>
    <h3><%= @random_show.concert_date %></h3>
    <li><%= @random_show.venue %></li>
    <li><%= @random_show.city %> , <%= @random_show.state %></li>
    <li><%= link_to concert.venue, concert_path(concert) %></li>
</ul>
